<!DOCTYPE html>
<html>
  <head>
    <title>App</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'tailwind', 'data-turbo-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'app', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class='bg-gray-100'>
    <div class='grid grid-cols-6'>
      <%= react_component 'shared/SidebarNavigation' %>
      <div class='col-span-4 px-20 mt-5'>
        <%= yield %>
      </div>
      <div class='col-span-1'></div>
    </div>
  </body>
</html>
