<!DOCTYPE html>
<html>
  <head>
    <title>App</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'tailwind', 'data-turbo-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'app', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class='bg-gray-100 layout'>
    <%= react_component_with_context 'shared/SidebarNavigation' %>
    <div class='main px-10 mt-5'>
      <%= yield %>
    </div>
    <%= react_component_with_context 'shared/PeopleColumn' %>
  </body>
</html>